* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container{
  padding: 0 100px 0 100px;
}

nav ul,
.intro{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body{
  background-color: darkgrey;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.topbar{
  background-color: firebrick;
}

header h1,
header a,
.text p,
.about h1,
.edu h1{
  color: aliceblue;
}

li{
  list-style: none;
  margin-left: 30px;

}

a{
  text-decoration: none;
  font-size: .9rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.intro{
  height: calc(100vh - 81.6px);
}

.text{
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center
}

.text h1{
  color: white;
  font-size: 3rem;
  cursor: context-menu;

}

.text span{
  display: inline-block;
}

span:hover{
  color: aqua;
  transition: all .5s;
}

span.front{
  color: blue;
}

span.end{
  margin-left: -10px;
}

.about{
  height: 100vh;
  margin-top: 50px;
}

.about h1{
  font-size: 10rem;
  z-index: 0;
  opacity: .1;
}

.about-me {
  max-width: 900px;
  background-color: burlywood;
  box-shadow: chocolate;
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50px;
  right: 50px;
}

.photo{
  height: 100vh;
}

.photo h1{
  text-align: right;
  font-size: 10rem;
  opacity: .1;
}

